 body{
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f4f4f9;
    color: #333;
 } 

 .navigation-menu{
    background-color: #1f1f2f;
    padding: 2px;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 500;/*set everything in navigation menu on top*/
 }
  
 .navigation-link{
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 30px;
    margin: 1px;
    padding: 0;
 }
  
 .navigation-link li a{
    text-decoration: none;
    color:white;
    font-weight: bold;
    transition: color 0.3s ease;
 }
  
 .navigation-link li a:hover{
    color: #ffc107;
 }

 .hero{
    height: 100vh;/*fits full page*/
    display: flex;
    justify-content: space-between;
    align-items: center;
    /*background: linear-gradient(to right,#3c3c5a,#5a5a85);blended two colours for smooth transition and the gradient will move from left to right horizontally*/
    color: #ffffff;
    padding-top: 80px;/*space for fixed nav*/
    padding: 100px 50px 50px;
    background-color: black;  
 }

 .hero-section{
    flex: 1;
    max-width: 50%;
    text-align: left;
 }

 .hero-section h1{
      font-size: 2rem;
      margin-bottom: 30px;
 }

 .hero-section h2{
      font-size: 3rem;
      margin-bottom: 20px;
 }

 .hero-section p{
      font-size: 1rem;
      margin-bottom: 30px;
      max-width: 1000px;
 }

 .button{
    background-color: #ffc107;
    color: whitesmoke;
    border-radius: 8px;
    padding: 15px 30px;
    font-weight: bold;
    text-decoration: none;
    transition: background-color 0.3s ease;
 }
 .button:hover{
    background-color: #e0a800;
 }

 /*for hero image
 .image{
    flex: 1;
    max-width: 50%;
    display: flex;
    /* justify-content: flex-end; 
 }*/
 .image img{
    max-width: 100%;
    height: auto;
    margin-top: 30px;
    border-radius: 12px;
    align-content: space-evenly;
    margin-left: 150px;
    width: 350px;
 }
  
 /*About section*/
 #about{
    background-color: white;
    padding: 80px 40px;
    height: 100vh;

 }

 .about-section{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
    max-width: 1200px;
    margin: auto;

 }

 .about-image img{
    max-width: 100%;
    height: auto;
    margin-top: 30px;
    border-radius: 12px;
    align-content: space-evenly;
    margin-left: 0;
    width: 350px; 
 }

 .about-text{
    flex: 1;
    max-width: 55%;
    text-align: left;
    
 }

 .about-text h2{
    font-size: 2rem;
    margin-bottom: 20px ;
 }

 .about-text p{
    font-size: 1rem;
    line-height: 1.5;
    
 }
  
  
  
  
  
  
  
  
  
  
  
  
  
  /* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}


.hero{
    height: 100vh;
    justify-content: left;
    display: flex;
    padding: 80px;
    position: relative;
    gap: 50px;
    text-align: left;
}


.navigation-menu {
    position:absolute;
    top: 20px;
    right: 40px;

}

.navigation-link{
    list-style: none;
    display: flex;
    gap: 20px;
}

.image{
    gap: 50px;
}

.hero-section{
    padding: 0px 20px;
    text-align: left;
    display: grid;
} */ 























/* body{
margin: 0;
font-family:Arial, sans-serif;
}

.header-container {
display: flex;
justify-content: space-between;
align-items: left;
padding: 20px 40px;
background-color: rgb(24, 20, 20);
color: #fff;
}

.header-container h1{
display: flex;
justify-content: space-between;
align-items: left;
padding: 20px 40px;
background-color: rgb(24, 20, 20);
color: #fff;
}
.title{
    font-size: 2rem;
}

.navigation-menu {
list-style: none;
display: flex;
gap: 25px;
margin: 0;
padding: 0;
}

.navigation-menu li a {
color: #fff;
font-weight: bold;
transition: color 0.2s ease;
}

.hero {
display: flex;
align-items: center;
padding: 80px;
text-align: left;
background-color: rgb(31, 105, 105);
gap: 50px;
max-width: 1500px;
}

.hero-text h1{
    font-size: 2rem;
    color: white;
}

.hero-text h2{
    font-size: 3rem;
    color: white;
}
.hero-text h3{
    font-size: 2rem;
    color: white;
}

.hero-text p{
    color: #fff;
}

/* .hero-text button{
    background-color: rgb(3, 37, 37);
    color: white;
    padding: 20px;
    column-gap: 40px;
    font-size: larger;
} */


/* .hero-text hr{
    width: 350px;
    border: 2px solid grey;
    margin: 0%;
    margin-bottom: 15px;
}

.image img{
    width: 350px;
    height:auto;
    background-color: white  ;
    max-width: 320%;
    border-radius: 50%; 
    align-content: space-evenly; 
    margin-left: 150px; 
}

.footer-container{
    display: flex;
    justify-content: space-between;
    align-items: left;
    padding: 10px 200px;
    background-color: rgb(24, 20, 20);
    color: #fff;
}

.footer-container i{
    color: white;
}

.footer-container a{
    color: white;
    margin: 0px 15px;
}

.resume-container{
    display: flex;
    padding: 0px;
    height: 50px;

}

.resume-container h2{
    color: white;
    background-color: rgb(31, 105, 105);
    margin-bottom: 10px;
    border-radius: 5px;
    padding: 5px 20px;
}

.resume-container li{
    padding: 0px 10px;
    margin-bottom: 5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
}


  */ 